section:not(:target) {
  display:none;
}

.container {
	flex-flow: row wrap;
	display: flex;
}

a {
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Roboto', serif;
}

header {
	background: #3B6F7F;
  border-bottom: 1px solid #5FB2CC;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.5em;
}

header img {
  margin: 5px;
}

nav {
	flex: 1 1 100px;
	background: #C3F0FF;
	text-align: center;
}

nav ul li a {
  color: #727272;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: block;
}

section {
	flex: 2 2 85%;
  margin: 10px;
}

input {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  border: 1px solid #C5CAE9;
}

select {
  font-family: 'Roboto', sans-serif;
  height: 24px;
  border: 1px solid #C5CAE9;
}

i input:not(:focus) {
  display: none;
}

i:hover input {
  display: inline-block;
}

table {
  width: 100%;
}

th {
  text-align: left;
  background: #61787F;
  color: #FFFFFF;
  height: 30px;
  width: 20%;
}

th i {
  text-align: right;
}

tr:nth-child(even) {
  background: #B6B6B6;
}

tr:hover {
  background: #C5CAE9;
}

td input {
  width: 95%;
}

button {
  background-color: #5FB2CC;
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
  display: inline-block;
  font-size: 0.8em;
  cursor: default;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #5FB2CC;
}

footer {
  margin-top: 10px;
  border-top: 1px solid #5FB2CC;
  background: linear-gradient(180deg, #C5CAE9, #FFFFFF);
  color: #727272;
  font-size: 0.8em;
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: #727272;
}

@media print {
  th, td {
    background: #FFFFFF;
    color: #000000;
    border-bottom: 1px solid #B6B6B6;
    width: auto;
  }

  input, select {
    border: none;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  header, footer, nav, th input, th:last-child, td:last-child, tr:last-child  {
    display: none;
  }

  i {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
